.bd{
    padding: 80px 160px;
    
    margin-bottom:80px;
    background-color: #F1F1F3
    
}
.fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  .banner-txt{
    padding-left: 59.99px;
    padding-top: 117px;
    padding-bottom: 117px;
}
  
  .bd2{
    color: grey;
  }
  .iiv{
    font-size: 56px;
    font-weight: bold;
    margin-top: 16px;
    max-width: 67%;
  }
  .btn1{
    margin-top: 24px;
    padding: 20px 30px;
    font-size: 18px;
    font-weight: 600px;
    color: #FFFFFF;
    background-color: #006A50;
    border-radius: 8px;
    border: none;
  }
.sec1{
    display: flex;
    background: linear-gradient(135deg, #e9f5f2, #c4e9e4);
    color: #333;
    border-radius: 24px;
}
.banner-image{
    padding: 80px 59.99px 80px 64px;
}
.future{
    font-size: 40px;
    font-weight: bold;
}
.f-description{
    font-size: 16px;
    font-weight: normal;
    color: grey;
}

.v1ppm{
    padding: 32px;
                /* margin: 24px; */
                border-radius: 16px;
                font-size: 16px;
    font-weight: normal;
}
.v1btn{
    padding: 11px 20px;
    border-radius: 8px;
    color: #FFFFFF;
    border: none;
}
.visions{
    display: flex;
    justify-content: space-between;
    
    
}
.v1-bg{
    background-color:   #e6f0ff;
    margin-right: 12px;
}
.v2-bg{
    background-color: #e6f9e6;
    margin: 0px 12px 0px 12px;
}
.v3-bg{
background-color: #fff8e6;
margin-left: 12px;
}

.vbtn1{
    background-color: #4285f4;
    
}
.vbtn2{
    background-color: #34a853;
}
.vbtn3{
    background-color: #FFC239;
}
.dr{
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    font-size: 16px;
    font-weight: normal;
}
.dr-yunus{
    font-size: 20px;
    font-weight: 600px;
}
.margin{
    margin-bottom: 80px;
}
.recent{
    font-size: 40px;
    font-weight: bold;
}
.news{
    color: #515050;
}
.satelite{
    font-size: 32px;
    font-weight: bold;
   
}
.satelite-launch{
    display: flex;
    padding: 48px;
    background-color: #FFFFFF;
    border-radius: 24px;
    box-shadow: #a1a4a4;
    margin-bottom: 24px;

}
.sat-image{
    margin-right: 32px;
}
.line-height{
    line-height: 24px;
}
.read-more{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600px;
    padding: 13px 26px;
    border-radius: 8px;
    border: none;
    background-color: #006A50;
}
.donate{
    margin-top: 56px;
    text-align: center;
}
.dnt-tdy{
    font-size: 40px;
    font-weight: bold;
}
.generous{
    line-height: 24px ;
    color: #6b6a6a;
    background-color: #FFFFFF;
}
.amount{
    font-size: 40px;
    font-weight: bold;
    padding: 40px;
    background-color: #FFFFFF;
    margin: 32px 24px;


    border: none;
    justify-content: center;
    border-radius: 16px;
}
.l{
    background-color: #34a853;
}
.amnt{
    margin: 32px;
    padding: 20px 40px;
    border: none;
    text-align: center;
    font-size: 20px;
    width: 1032px;
    
    
}
.dnt{
    font-size: 18px;
    font-weight: 600px;
    color: #FFFFFF;
    background-color: #006A50;
    border: none;
    border-radius: 8px;
    padding:17px 34px ;
}
.ftr{
    margin-top: 80px;
    padding: 80px 100px;
    background-color: #93d6a5;
    text-align: center;
    padding:80px 265px ;
    
}
.sbscrbe{
    font-size: 40px;
    font-weight: bold;
   text-align: center;


}
.email{
    width: 600px;
    padding: 18px 40px;
    border: none;
    border-radius: 8px 0px 0px 8px;
    
}
.sub{
    width: 150px;
    padding: 18px 40px;
    background-color: #006A50;
    color: #FFFFFF;
    border: none;
    border-radius: 0px 8px 8px 0px;
    

}
.merge{
    display: flex;
    justify-content: center; 
}
