.bd{
    padding: 80px 160px;
    
    margin-bottom:80px;
    
}
.fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  .banner-txt{
    padding-left: 59.99px;
    padding-top: 117px;
    padding-bottom: 117px;
}
  
  .bd2{
    color: grey;
  }
  .iiv{
    font-size: 56px;
    font-weight: bold;
    margin-top: 16px;
    max-width: 67%;
  }
  .btn1{
    margin-top: 24px;
    padding: 20px 30px;
    font-size: 18px;
    font-weight: 600px;
    color: #FFFFFF;
    background-color: #006A50;
    border-radius: 8px;
    border: none;
  }
.sec1{
    display: flex;
    background: linear-gradient(135deg, #e9f5f2, #c4e9e4);
    color: #333;
    border-radius: 24px;
}
.banner-image{
    padding: 80px 59.99px 80px 64px;
}
.future{
    font-size: 40px;
    font-weight: bold;
}
.f-description{
    font-size: 16px;
    font-weight: normal;
    color: grey;
}

.v1ppm{
    padding: 32px;
                /* margin: 24px; */
                border-radius: 16px;
                font-size: 16px;
    font-weight: normal;
}
.v1btn{
    padding: 11px 20px;
    border-radius: 8px;
    color: #FFFFFF;
}
.visions{
    display: flex;
    justify-content: space-between;
    
    
}
.v1-bg{
    background-color:   #e6f0ff;
    margin-right: 12px;
}
.v2-bg{
    background-color: #e6f9e6;
    margin: 0px 12px 0px 12px;
}
.v3-bg{
background-color: #fff8e6;
margin-left: 12px;
}

.vbtn1{
    background-color: #4285f4;
}
.vbtn2{
    background-color: #34a853;
}
.vbtn3{
    background-color: #FFC239;
}
.dr{
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    font-size: 16px;
    font-weight: normal;
}
.dr-yunus{
    font-size: 20px;
    font-weight: 600px;
}